:root {
  --title-text-color: #212121;
  --primary-text-grey-color: #757575;
  --accent-color: #2196f3;
  --primary-text-white-color: #ffffff;
  --title-font-family: "Roboto", sans-serif;
  --primary-font-family: "Raleway", sans-serif;
}

.visualiy-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: var(--title-font-family);
  color: var(--title-text-color);
  font-weight: 400;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.mobile-menu-container {
  position: relative;
  min-height: 200px;
  padding-top: 48px;
  padding-left: 40px;
}

.close-button {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 100;
  overflow: scroll;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  padding-top: 48px;
  padding-left: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover, .mobile-menu-link:focus {
  color: var(--accent-color);
}

.link.current-mobile {
  color: var(--accent-color);
}

.hero__modal-button {
  font-family: inherit;
  color: var(--primary-text-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-background-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-background-icon:hover, .team-background-icon:focus {
  background-color: var(--accent-color);
}

.icon-item:not(:last-child) {
  margin-right: 10px;
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-text-grey-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-background-icon:hover .team-icon,
.team-background-icon:focus .team-icon {
  fill: var(--primary-text-white-color);
}

.team-icon-list {
  display: flex;
  margin-top: 16px;
}

.join-background-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-background-icon:hover, .join-background-icon:focus {
  background-color: var(--accent-color);
}

.join-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-text-white-color);
}

.join-icon-list {
  display: flex;
  justify-content: space-between;
}

.join-icon-list :not(:last-child) {
  margin-right: 10px;
}

.logo__first-word {
  color: var(--accent-color);
}

.logo_black {
  color: #000000;
  font-family: var(--primary-font-family);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 700;
  padding-bottom: 25px;
  padding-top: 25px;
}

.logo_white {
  color: var(--primary-text-white-color);
  font-family: var(--primary-font-family);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .logo_black {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  background: var(--primary-text-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 479px) {
  .modal {
    width: 90vw;
    height: 609px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-text-white-color);
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  top: 8px;
  right: 8px;
  padding: 0;
}

.close-btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
}

.close-btn:hover > .close-btn-icon,
.close-btn:focus > .close-btn-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 0.86;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

@media screen and (max-width: 1199px) {
  .modal-form-title {
    line-height: 1.5;
  }
}

.modal-form-input-icon {
  position: relative;
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.modal-form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  display: block;
}

@media screen and (max-width: 479px) {
  .modal-form-input {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-form-input {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form-input {
    width: 100%;
  }
}

.modal-form-input:focus, .modal-form-input:hover {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input::placeholder {
  padding-left: 42px;
}

.modal-icon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form-input:focus + .modal-icon,
.modal-form-input:hover + .modal-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea-comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
}

.modal-form-textarea-comment:focus, .modal-form-textarea-comment:hover {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (max-width: 479px) {
  .modal-form-textarea-comment {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-form-textarea-comment {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form-textarea-comment {
    width: 100%;
  }
}

.modal-form-label {
  color: var(--primary-text-grey-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.accept-policy-text {
  color: var(--primary-text-grey-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .accept-policy-text {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (max-width: 479px) {
  .modal-form-checkbox-label {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-form-checkbox-label {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form-checkbox-label {
    width: 100%;
  }
}

.modal-form-checkbox-label::before {
  display: flex;
  content: "";
  background-image: url(../images/icon-not-check.svg);
  display: block;
  width: 16px;
  height: 15px;
  cursor: pointer;
  margin-right: 9px;
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  .modal-form-checkbox-label::before {
    margin-right: 2px;
    margin-left: 3px;
  }
}

.modal-form-input-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
  display: block;
  width: 16px;
  height: 15px;
  cursor: pointer;
}

.modal-form-input-checkbox:focus + .modal-form-checkbox-label::before {
  background-image: url(../images/icon-not-check-blue.svg);
}

.modal-form-input-checkbox:checked:focus + .modal-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
}

.modal-form-input-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
  display: block;
  width: 16px;
  height: 15px;
  cursor: pointer;
}

.modal-form-input-checkbox:focus + .modal-form-checkbox-label::before {
  background-image: url(../images/icon-not-check-blue.svg);
}

.modal-form-input-checkbox:checked:focus + .modal-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
}

.accept-policy-link {
  color: var(--accent-color);
}

.modal-form-button {
  font-family: inherit;
  color: var(--primary-text-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  align-self: center;
  margin-top: 30px;
}

.burger-btn {
  display: none;
}

.header-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .menu {
    display: none;
  }
  .header-contacts {
    display: none;
  }
  .burger-btn {
    display: block;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
  }
  .burger-btn__icon-burger {
    width: 24px;
    height: 16px;
  }
  .header-container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    justify-content: space-between;
  }
  .menu {
    display: flex;
    margin-left: 88px;
  }
  .menu__item:not(:first-child) {
    margin-left: 50px;
  }
  .header {
    border: 1px solid #ececec;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .menu__link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    padding-top: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .link.current {
    color: var(--accent-color);
    position: relative;
  }
  .link.current::after {
    content: "";
    display: block;
    background-color: var(--accent-color);
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: -2px;
    border-radius: 2px;
  }
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header-contacts__link {
    display: flex;
    align-items: center;
    color: var(--primary-text-grey-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts__link:hover, .header-contacts__link:focus {
    color: var(--accent-color);
  }
  .header-contacts__icon {
    margin-right: 8px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts__icon_tel {
    width: 10px;
    height: 14px;
  }
  .header-contacts__icon_mail {
    width: 14px;
    height: 10px;
  }
  .header-contacts__link:hover .header-contacts__icon,
  .header-contacts__link:focus .header-contacts__icon {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    margin-left: auto;
  }
  .menu__link,
  .header-contacts__link {
    display: flex;
    align-items: center;
  }
  .header-contacts__item:not(:last-child) {
    margin-bottom: 0;
  }
  .header-contacts__item:not(:first-child) {
    margin-left: 50px;
  }
  .header-contacts__link {
    font-size: 14px;
    line-height: 1.14;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .header-contacts__icon {
    margin-right: 10px;
  }
  .header-contacts__icon_tel {
    width: 10px;
    height: 16px;
  }
  .header-contacts__icon_mail {
    width: 16px;
    height: 12px;
  }
  .menu {
    display: flex;
    margin-left: 93px;
  }
  .menu__item:not(:first-child) {
    margin-left: 50px;
  }
}

.hero-container {
  text-align: center;
}

.hero__heading {
  color: var(--primary-text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  background-size: 1600px;
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  height: 400px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/bg-main@2x.jpg);
  }
}

@media screen and (max-width: 1199px) {
  .hero__heading {
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/bg-main.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/bg-main@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/bg-main.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/bg-main@2x.jpg);
  }
}

.qualities {
  padding-top: 60px;
  padding-bottom: 60px;
}

.qualities-list-subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 100%;
}

.qualities-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-grey-color);
}

.qualities-icon-background {
  display: flex;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  max-width: 450px;
  height: 120px;
}

.qualities-icon {
  max-width: 70px;
  max-height: 70px;
  background-position: 50% 50%;
}

@media screen and (min-width: 480px) {
  .qualities-icon-background {
    width: 450px;
    height: 120px;
  }
}

@media screen and (max-width: 767px) {
  .qualities-list-subtitle {
    text-align: center;
  }
  .qualities-list-item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .qualities-icon-background {
    width: 354px;
    height: 122px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .qualities-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .qualities-list-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 4);
  }
}

@media screen and (min-width: 1200px) {
  .qualities-icon-background {
    width: 270px;
    height: 120px;
  }
  .qualities {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .qualities-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .qualities-list-item {
    width: 270px;
  }
  .qualities-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.about {
  padding-bottom: 94px;
  display: none;
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-item {
  position: relative;
}

.about-item-backdrop {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.about-item-text {
  color: var(--primary-text-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
}

@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 280px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    margin: -15px;
  }
}

.team-item {
  background-color: var(--primary-text-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-item + .team-item {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-item {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item + .team-item {
    margin-left: 30px;
  }
}

.team-subtitle-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-grey-color);
  margin-top: 10px;
}

.clients__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -15px;
  flex-wrap: wrap;
}

.clients-item {
  margin: 15px;
}

@media screen and (max-width: 399px) {
  .clients-item + .clients-item {
    margin-bottom: 20px;
  }
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon-link:hover .clients-icon,
.clients-icon-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-left: 31px;
  padding-right: 31px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  border-color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon-link:hover, .clients-icon-link:focus {
  border-color: var(--accent-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .filter-list {
    margin-bottom: 25px;
  }
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter-item {
    margin-bottom: 15px;
  }
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}

.filter-button:hover, .filter-button:focus {
  color: var(--primary-text-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button.current {
  background-color: var(--accent-color);
  color: var(--primary-text-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .projects {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .projects-list {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-list {
    margin: -15px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list {
    margin-top: 50px;
  }
}

.projects-list-item {
  margin-bottom: 30px;
  display: flex;
}

@media screen and (max-width: 767px) {
  .projects-list-item {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .projects-list-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-list-item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list-item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .projects-list-item:nth-child(3n) {
    margin-right: 0;
  }
  .projects-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.projects-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-item .projects-link:focus,
.projects-list-item .projects-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content-projects {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
  flex-grow: 1;
}

.progect-image {
  display: block;
}

.projects-subtitle {
  font-family: var(--title-font-family);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects-text {
  font-family: var(--title-font-family);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-grey-color);
}

.overlay-img-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-text-white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-item .projects-link:focus .overlay,
.projects-list-item .projects-link:hover .overlay {
  transform: translateY(0%);
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    align-items: baseline;
  }
}

.left-address-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .left-address-container {
    flex-direction: column;
    align-items: center;
  }
}

.address-container {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .address-container {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.address-item:not(:last-child) {
  margin-bottom: 10px;
}

.address {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address.address-maps {
  color: var(--primary-text-white-color);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.link.address:focus, .link.address:hover {
  color: var(--primary-text-white-color);
}

@media screen and (max-width: 767px) {
  .right-address-container {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .right-address-container {
    margin-left: 70px;
  }
}

.join-text {
  color: var(--primary-text-white-color);
  font-family: var(--title-font-family);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .join-text {
    text-align: center;
  }
}

.follow-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .follow-container {
    margin-left: auto;
  }
}

.form-follow {
  display: block;
}

@media screen and (min-width: 1200px) {
  .form-follow {
    display: flex;
    align-items: center;
  }
}

.label-follow {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-white-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .label-follow {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.button-input-container {
  display: flex;
  align-items: center;
}

.input-follow {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--primary-text-white-color);
  outline: none;
}

.input-follow:focus, .input-follow:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 360px) {
  .input-follow {
    width: 300px;
  }
}

.button-follow {
  color: var(--primary-text-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .button-follow {
    margin-left: 12px;
    margin-top: 0;
  }
}

.follow-icon {
  height: 24px;
  width: 24px;
  fill: var(--primary-text-white-color);
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */