.join-text {
    color: var(--primary-text-white-color);
    font-family: var(--title-font-family);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }