.right-address-container {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.join-text {
    color: var(--primary-text-white-color);
    font-family: var(--title-font-family);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }
  