.qualities {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .qualities-list-subtitle {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 100%;
  }

  .qualities-list-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-grey-color);
  }
  
  .qualities-icon-background {
    display: flex;
    background-color: #f5f4fa;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    max-width: 450px;
    height: 120px;
  }

  .qualities-icon {
    max-width: 70px;
    max-height: 70px;
    background-position: 50% 50%;
  }

// 480+
  @media screen and (min-width: 480px) {
    .qualities-icon-background {
      width: 450px;
      height: 120px;
  }
}

// 0 - 767
@media screen and (max-width: 767px) {
  .qualities-list-subtitle {
    text-align: center;
  }
  .qualities-list-item {
      margin-bottom: 30px;
  }
}
// 768+
@media screen and (min-width: 768px) {
  .qualities-icon-background {
    width: 354px;
    height: 122px;
}
}

// 768 - 1199
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .qualities-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .qualities-list-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 4);
  }
}

  // 1200+
  @media screen and (min-width: 1200px) {
    .qualities-icon-background {
      width: 270px;
      height: 120px;
  }
    .qualities {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  
    .qualities-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .qualities-list-item {
      width: 270px;
  
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  



