.logo__first-word {
    color: var(--accent-color);
  }
  .logo_black {
    color: #000000;
    font-family: var(--primary-font-family);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-weight: 700;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .logo_white {
    color: var(--primary-text-white-color);
    font-family: var(--primary-font-family);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-weight: 700;
    margin-bottom: 20px;
  }