.mobile-menu-container {
  position: relative;
  min-height: 200px;
  padding-top: 48px;
  padding-left: 40px;
}

  .close-button {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  
  }
.mobile-menu__close-button{
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
}
.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 100;
  overflow: scroll;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &__close-icon {
    width: 40px;
    height: 40px;
    &:hover, &:focus {
      fill: var(--accent-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

  }

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-link {
    display: block;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    padding-top: 48px;
    padding-left: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
    }
.link.current-mobile {
    color: var(--accent-color);
}
.mobile-menu-tel {
display: block;
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;

color: var(--accent-color);
padding-top: 302px;
padding-left: 40px;
}
.mobile-menu-mail {
display: block;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: var(--primary-text-grey-color);
padding-left: 40px;
padding-top: 32px;
}

.mobile-menu-sotial-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 40px;
  padding-top: 64px;


.mobile-menu-sotial-item {
  display: flex;
  margin-left: -10px;
  &:not(:last-child):after {
    content: '';
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-left: 10px;
}
}


.mobile-menu-sotial {
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: var(--accent-color);
}
}