:root {
    --title-text-color: #212121;
    --primary-text-grey-color: #757575;
    --accent-color: #2196f3;
    --primary-text-white-color: #ffffff;
    --title-font-family: "Roboto", sans-serif;
    --primary-font-family: "Raleway", sans-serif;
  }